.game-container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.titulo-container {
    text-align: center;
    width: 510px;
    margin-top: 1rem;
}
.letra {
    font-family: 'Quicksand', sans-serif;
}

.letraAmarela {
    font-family: 'Quicksand', sans-serif;
    color: yellow;
}

.letraVermelha {
    font-family: 'Quicksand', sans-serif;
    color: red;
}

.letraVerde {
    font-family: 'Quicksand', sans-serif;
    color: green;
}



.tile-row {
    margin-bottom: 1rem;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
}

.tile-column {
    background-color: gainsboro;
    color: #252525;
    height: 40px;
    width: 48px;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    display: flex;
}

.atual {
    border: 2px solid black;
}

.desativado {
    border: 1px solid #252525;
}

.certo {
    background-color: green;
    color: #f4f3f1;
}

.errado {
    background-color: red;
    color: #f4f3f1;
}

.lugarErrado {
    background-color: #cf9d1f;
    color: #f4f3f1;
}

.teclado-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.teclado-row-container {
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0.5rem;
    justify-content: center;
    display: flex;
}

.teclado-row-container.notAlphabetic {
    width: 100%
}

.teclado-row-container:not(.notAlphabetic) button {
    width: 8%;
    height: 40px;
    border-radius: 0.25rem;
    margin-right: 0.25rem;
    border: 1px solid black;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}